<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">datos</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Label para mostrar la fecha actual -->
  <ion-label class="fecha-label">Fecha actual: {{ fechaActual }}</ion-label>

  <!-- Label para mostrar la hora actual -->
  <ion-label class="hora-label">Hora actual: {{ horaActual }}</ion-label>

  <!-- Botón para redirigir a la página "inicio" -->
  <ion-button expand="full" routerLink="/inicio">Ir a Inicio</ion-button>

  <style>
    /* CSS para los labels y el botón */
    .fecha-label,
    .hora-label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      margin-top: 20px;
    }
  </style>
</ion-content>
